<!-- Loop over each object in the posts array -->
{{#each posts}}
<div class="card mb-4">
  <div class="card-body">
    <h2>
      {{!-- Generate the anchor tag manually --}}
      <a href="/post/{{id}}">{{title}}</a>
    </h2>
    <p>Created by {{user.name}} on {{format_date createdAt}}</p>
    <p>{{body}}</p>
  </div>
</div>
{{/each}}
