{{!-- Loop over each object in the posts array --}}
{{#each posts}}
<div class="row mb-4 post">
  <div class="">
    <h2>
      {{!-- Generate the anchor tag manually --}}
      <a href="/post/{{id}}">{{tittle}}</a>
    </h2>
    <p>Created by {{user.name}} on {{format_date createdAt}}</p>
  </div>
  <div class="">
    <p>
      {{body}}
    </p>
  </div>
</div>
{{/each}}
