<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{body}}}</p>
  <p>{{user.name}}: {{format_date createdAt}}</p>
</div>

{{!-- Check if there are comments and display them if they exist --}}
{{#if comments}}
  <div class="card mb-4">
    <div class="card-body">
      <h4>Comments</h4>
      {{!-- Loop through comments and display each one --}}
      {{#each comments}}
        <p>{{body}}</p>
      {{/each}}
    </div>
  </div>
{{/if}}

{{!-- Form to add a new comment --}}
<div class="card mb-4">
  <div class="card-body">
    <h4>Add Comment</h4>
    <form class="new-comment-form">
      <div class="form-group">
        <textarea class="form-control" id="comment-body" rows="3" placeholder="Enter your comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit Comment</button>
    </form>
  </div>
</div>

<div>
  <a href="/" class="btn btn-primary">More Posts</a>
  <a href="/" class="btn btn-primary">New Post</a>
</div>

<script src="/js/comment.js"></script>
